/* ----- Navbar -----*/
.navbar-fixed-top {
    top: 30px;
    border-width: 0 0 1px;
}

/* ----- Zooming in Hero -----*/

@keyframes breath {
0% { transform:scale(1,1); }
25% { transform:scale(1.15,1.15); }
50% {transform:scale(1.3,1.3); }
75% {transform:scale(1.15,1.15); }
100% {transform:scale(1,1); }
}

/* ----- Order button -----*/

.btn-buy, .btn-buy-light {
  background: black;
  border: 2px solid rgba(17, 17, 17, 0);
  color: #fff;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-name: fadeIn;
}

.btn-buy:visited, .btn-buy-light:visited {
  color: #fff;
  background: black;
}

.btn-buy:visited:hover, .btn-buy-light:visited:hover {
    color: #111;
    background: none;
    border: 2px solid #111111;
}

.btn-buy:hover, .btn-buy-light:hover {
    color: #111;
    background: none;
    border: 2px solid #111111;
}

.btn-buy:focus, .btn-buy-light:focus {
    color: #111;
    background: none;
    border: 2px solid #111111;
}


/* ----- Sticky right sidebar - Social media -----*/

.sticky-container{
    padding:0px ;
    margin:0 10 0 0;
    position:fixed;
    left:0px;
    bottom:50px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color: rgba(0,0,0,0);
    color:#efefef;
    height:60px;
    padding:0px;
    margin:0px 10px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}

/* ----- Links in footer -----*/

.about-widget a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: rgb(229, 229, 229);
}

.about-widget a:hover, .about-widget a:focus {
  color: rgb(229, 229, 229);
  text-decoration: none;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.about-widget a:visited {
  color: rgb(229, 229, 229);
  text-decoration: none;
}

.about-widget a:visited:hover, .about-widget a:visited:focus {
  color: rgb(229, 229, 229);
  text-decoration: none;
}


/* ----- Center logo -----*/
.center-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* ----- Links in t-items -----*/
.content-wrapper a {
    display: block;
    text-align: right;
    color: #999;
    font-size: 0.85em;
    letter-spacing: 2px;
    font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    transition: all 0.5s;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;

}


/* ----- Legend in portfolio -----*/

.portfolio-item p {
    font-size: 3em;

}

/* ----- Pictures in single-product pages -----*/

.client_logo{
  height:400px;
  width:400px;
  background:#f4f4f4;
}
.display-table{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.display-cell{
    display: table-cell;
    vertical-align: middle;
}
.logo-img{
    width: auto !important;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/* ----- Add zoom on overlay -----*/

.zoom {
    padding: 0;
    transition: transform .2s; /* Animation */
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}